*.o
*.d
*.res
/src/build.h
/src/loader/loader
/src/loader/loader-m32
/src/loader/loader-info.c
/src/proot

*~
/dist/
/src/loader.exe
/src/loader-m32.exe
/tests/failure
/tests/rootfs/
/tests/d1/
/tests/r1
/tests/dl1
/tests/rl1
